[submodule "backend/dochub"]
	path = backend/dochub
	url = ../../RabotaRu/DocHub.git
[submodule "frontend/dochub"]
	path = frontend/dochub
	url = ../../RabotaRu/DocHub.git
[submodule "plantuml-server"]
	path = plantuml
	url = ../../vlad-markin/plantuml-server.git
	branch = dochub-v2