[submodule "backend/dochub"]
	path = backend/dochub
	url = https://github.com/DocHubTeam/DocHub.git
[submodule "frontend/dochub"]
	path = frontend/dochub
	url = https://github.com/DocHubTeam/DocHub.git
[submodule "plantuml-server"]
	path = plantuml
	url = https://github.com/vlad-markin/plantuml-server.git
	branch = dochub-v2
[submodule "manifest/manifest"]
	path = manifest/manifest
	url = https://github.com/ValentinKozlov/DocHubExampleManifest.git
[submodule "metamodel/metamodel"]
	path = metamodel/metamodel
	url = https://github.com/ValentinKozlov/DocHubExampleMetamodel.git