[submodule "backend/dochub"]
	path = backend/dochub
	url = ../../RabotaRu/DocHub.git
[submodule "frontend/dochub"]
	path = frontend/dochub
	url = ../../RabotaRu/DocHub.git
[submodule "plantuml-server"]
	path = plantuml
	url = ../../vlad-markin/plantuml-server.git
	branch = dochub-v2
[submodule "manifest/manifest"]
	path = manifest/manifest
	url = git@github.com:ValentinKozlov/DocHubExampleManifest.git
[submodule "metamodel/metamodel"]
	path = metamodel/metamodel
	url = git@github.com:ValentinKozlov/DocHubExampleMetamodel.git
